body{
    display: grid;
    grid-template-areas: 
    'header'
    'nav'
    'main'
    'footer';
    color: midnightblue;
    font-family: Palatino, URW Palladio L, serif;
}
header{
    grid-area: header;
    text-align: center;
    font-size: larger;
    margin: 0px;
    padding: 0px;
}
nav{
    grid-area: 'nav';
    text-align: center;
    font-size: large;
    margin: 0px;
    padding: 0px;
}
#start_screen{
    text-align: center;
    font-size: large;
}
main{
    margin-top: 0px;
    padding-top: 0px;
    grid-area: main;
    display: grid;
    grid-template-areas: 
    'image word'
    'image word';
    margin-bottom: 0px;
}
.image{
    grid-area: "image";
    height: 450px;
    width: 425px;
    float: right;
    padding-right: 25px;
}
#word{
    grid-area: word;  
    padding-top: 150px;
    text-align: center;
    padding-right: 75px;
    font-size: large;
}
#easy{
    background-color: midnightblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
footer{
    margin-top: 75px;
    grid-area: footer;
    font-size: x-small;
}